
/* ---------------------- => CSS variables => */

:root {
    --color-primary: #4309A8;
    --color-light: #F7F1F8;
    --color-font-light: #F7F1F8;
    --color-font-dark: #030A0E;
}

/* ---------------------- Reset CSS => */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: var(--color-light);
    width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------- => Structural and layout styles => */ 

.flex {
    display: flex;
    
}

.CenterOneChild {
    display: flex;
    justify-content: center;
}

.sticky {
    margin-bottom: 3rem;
}

.nav {
    width: 100%;
    height: 3.5rem;
    box-shadow: 0 1px 15px  lightgray;
}

.navflex {    
    width: 95%;
    max-width: 118rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.iconFlex {
    justify-content: space-between;
    height: 95%;
    align-items: center;
}

.logoIcon {
    height: 3rem;
}

.navIcon {
    height: 1.2rem;
}

.searchbar {
    padding: 0.5rem 0.75rem;
    border-radius: 30px;    
}

.filterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto 0 auto;
    align-items: center;
}

.filterItem {
    margin: 0.5rem 0; 
}
select {
    padding: 0.125rem
}
option {
    background-color: var(--color-primary);
    color: var(--color-font-light)
}

.marginRight {
    margin-right: 0.4rem;
}
.spinnerContainer {
    width: 25%;
    max-width: 6rem;
    height: auto;
    margin: 5rem auto;
    animation: spinning 2s linear infinite;
}

.spinner {
    width: 100%;
} 

 .centered {
    text-align: center;
    width: 90%;
    max-width: 15rem;
    height: auto;
    margin: 3rem auto 0 auto;
}

@keyframes spinning {
    0% {
        rotate: 0turn;
    }

    100% {
        rotate: 1turn;
    }
}


/* ---------------------- => Any other styles => */ 


h1, h2, h3, h4, h5, h6, form {
    font-family: 'IBM Plex Sans', sans-serif;  
    color: var(--color-font-dark); 
}

h3 {
    font-size: 2rem;
}

button {
    font-family: 'IBM Plex Sans', sans-serif;
    border: none;
    text-decoration: none;
    background-color: var(--color-font-light);
    cursor: pointer;
    margin: 0 0.5rem;
}

button:hover, button:active {
    box-shadow: 0 0 1px var(--color-font-dark);
}

.button {
    color: var(--color-font-light);
    background-color: var(--color-primary);
    padding: 0.5em 1em;
    text-align: center;
    border-right: 1px solid var(--color-font-dark);
    border-bottom: 1px solid var(--color-font-dark);
    border-radius: 10px;
    height: 2rem;
}

.button:active {
    border: none;
}

p, span {
    font-family: 'Noto Sans', sans-serif; 
    color: var(--color-font-dark); 
}

.title {
    font-family: 'Seymour One', sans-serif;
    margin: 0 0.2rem 1rem 0.2rem;
    color: var(--color-primary);
    font-size: clamp(1.5rem, 70vw, 3rem);
}

.intro {
    flex-direction: column;
    text-align: center;
}

.intro p {
    margin-bottom: 2rem;
}

/* Post styles: */

.gridContainer {
    overflow: hidden;
    width: 98vw;
}

.gridItem {
    width: 90%;
    padding: 1rem;
    margin: 0 auto 0.5rem auto;
    overflow: hidden; 
    text-align: center;
    box-shadow: 0 1px 5px  lightgray;
}

.gridItem a {
    text-decoration: none;
    color: var(--color-font-dark)
}

.gridItem a:hover {
    text-decoration: underline;
    color: var(--color-primary)
}

.gridItem a:visited {
    text-decoration: none;
    color: var(--color-font-dark)
}

.gridItem h3 {
    font-size: clamp(1.25rem, 1.5vw, 2rem);
}

.postSection {
    font-size: clamp(0.75rem, 1.25vw, 0.8rem);
    padding-bottom: 0.5rem;
}

.postImage {
    width: auto;
    height: clamp(5rem, 50vh, 30rem);
    padding-bottom: 0.5rem;
}

.videoIcon {
    height: clamp(5rem, 15vh, 20rem);
    /* width: clamp(5rem, 30%, 20rem);
    margin: 0 auto; */
    width: 100px;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.postThumbnail {
    width: auto;
    height: clamp(2rem, 30vh, 20rem);
    padding-bottom: 0.5rem;
}  

.descriptionText {
    max-height: 20rem;
    overflow: hidden;
}

.commentIcon {
    position: relative;
    top: 3px;
    height: 15px;
}

.displayNone {
    display: none;
}

/* ---------------------- => Media query for desktop sizes: => */

@media screen and (min-width: 550px) {
    .sticky {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--color-font-light);
    
    }
    .navIcon {
        height: 1.8rem;
    }

    .filterForm {
        flex-direction: row;
        margin: 1rem auto 0 auto;
        align-items: center;
        max-width: 1000px;
    }
    
    .filterItem {
        margin: 0 0.75rem;
    }

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;
    }
}


