
/* ---------------------- => CSS variables => */

:root {
    --color-primary: #4309A8;
    --color-light: #F7F1F8;
    --color-font-light: #F7F1F8;
    --color-font-dark: #030A0E;


}

/* ---------------------- Reset CSS => */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    max-width: 400px;
    min-width: 230px;
    margin: 0 auto;
    background-color: var(--color-light);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------- => Structural and layout-only styles => */ 




/* ---------------------- => Any other styles => */ 
h1, h2, h3, h4, h5, h6, form {
    font-family: 'IBM Plex Sans', sans-serif;  
    color: var(--color-font-dark); 
}

button {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--color-font-light);
    background-color: var(--color-primary);
}

p, span {
    font-family: 'Noto Sans', sans-serif; 
    color: var(--color-font-dark); 
}

.title {
    font-family: 'Seymour One', sans-serif;
}



/* ---------------------- => Media query for desktop sizes: => */
.postImage {
    width: 50%;
}

.postThumbnail {
    width: 25%;
}

.displayNone {
    display: none;
}

